<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>

    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.css' />
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/ng-country-select/dist/ng-country-select.js"></script>

    <link rel='stylesheet' href='/index.css' />
    <script src="/index.js"></script>
</head>

<body ng-controller="RegCtrl as regCtrl">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <h1>Registration - Assessment Day 10</h1>
            </div>
            <div class="panel-body">
                <form name="regForm" id="regForm" novalidate ng-submit="regCtrl.process()" required>
                    <div class="form-group" ng-class="{'has-error': regForm.name.$dirty && regForm.name.$invalid}">
                        <label>Name:</label>
                        <input type="text" id="name" name="name" class="form-control" ng-model="regCtrl.name" required>
                    </div>
                    <div class="form-group" ng-class="{'has-error': regForm.email.$dirty && regForm.email.$invalid}">
                        <label>Email:</label>
                        <input type="email" id="email" name="email" class="form-control" ng-model="regCtrl.email" required>
                        <span id="emailHelp" ng-show="regForm.email.$dirty && regForm.email.$invalid" class="help-block">Invalid Email</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': regForm.password.$dirty && (regForm.password.$invalid || !regCtrl.checkpassword())}">
                        <label>Password:</label>
                        <input type="password" id="password" name="password" class="form-control" ng-model="regCtrl.password" required>
                        <span id="passwordHelp1" ng-show="regForm.password.$dirty && regForm.password.$invalid" class="help-block">Required Password</span>
                        <span id="passwordHelp2" ng-if="regForm.password.$dirty && !regCtrl.checkpassword() && regCtrl.password.length > 0" class="help-block">Invalid Password: {{regCtrl.passwordFeedback}}</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': regForm.gender.$dirty && regForm.gender.$invalid}">
                        <label for="">Gender:</label>
                        <div>
                            <label for="" class="radio-inline"><input type="radio" name="gender" value="Male" ng-model="regCtrl.gender" ng-required="!regCtrl.gender"/> Male </label>
                            <label for="" class="radio-inline"><input type="radio" name="gender" value="Female" ng-model="regCtrl.gender" ng-required="!regCtrl.gender"/> Female </label>
                        </div>
                    </div>
                    <div class="form-group"  ng-class="{'has-error': regForm.dob.$dirty && (regForm.dob.$invalid || !regCtrl.checkdob())}">
                        <label for="">Date of Birth:</label>
                        <input type="date" id="dob" name="dob" class="form-control" ng-model="regCtrl.dob" required>
                        <span id="dobHelp" ng-if="regForm.dob.$dirty && (regForm.dob.$invalid || !regCtrl.checkdob())" class="help-block">Must be at least 18 years old</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': regForm.address.$dirty && regForm.address.$invalid}">
                        <label>Address:</label>
                        <input type="text" id="address" name="address" class="form-control" ng-model="regCtrl.address" required>
                    </div>
                    <div class="form-group"  ng-class="{'has-error': regForm.country.$dirty && regForm.country.$invalid}">
                        <label for="">Country:</label>
                        <country-select id="country" name="country" class="form-control" ng-model="regCtrl.country" cs-required></country-select>
                    </div>
                    <div class="form-group" ng-class="{'has-error': regForm.contact.$dirty && (regForm.contact.$invalid || !regCtrl.checkcontact())}">
                        <label for="">Contact Number:</label>
                        <input type="text" id="contact" name="contact" class="form-control" ng-model="regCtrl.contact" required>
                        <span id="passwordHelp2" ng-if="regForm.contact.$dirty && !regCtrl.checkcontact()" class="help-block">Invalid Contact Number</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-success" ng-disabled="regForm.$invalid || !regCtrl.checkdob() || !regCtrl.checkcontact() || !regCtrl.checkpassword()">Submit</button>
                        </div>
                    </div>
                </form>

                <div id="regfeedback" class="jumbotron text-center top-buffer" ng-show="regForm.$submitted">
                    <h3>{{regCtrl.submitted}}</h3>
                </div>
            </div>
        </div>
    </div>

</body>

</html>